<%- partial('common/head') %>
<body>
<%- partial('common/header',null, {cache: !config.relative_link}) %>
<div class="container">
  <div class="site-inner">
  <main class="site-main page blog">
    <div class="site-main-container container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%- body %>
        </div>
      </div>
    </div>
  </main>
  <%- partial('common/footer') %>
  </div>
</div>
<%- partial('common/scripts') %>
</body>
</html>
