<% var last, postCount = 0; %>
<% page.posts.each(function(post, i) { %>
    <% var year = post.date.year(); %>
    <article class="entry entry-archive post">
      <header>
        <h2 class="scroll-reveal"><a href="<%- url_for(post.path) %>"><%= post.title %></a></h2>
        <p class="entry-meta post-info scroll-reveal"><%= post.author || config.author %> on <%- post.date.format('MMM Do YYYY') %></p>
      </header>
      <%- partial('common/thumbnail', { post: post }) %>
      <div class="entry-content post-content">
        <p class="excerpt">
        <% var excerpt = post.excerpt; %>
        <% if(excerpt){ %>
          <%- post.excerpt %>
          </p>
          <div class="entry-more">
            <a href="<%- url_for(post.path) %>" class="read-more scroll-reveal">Read More</a>
          </div>
          <% } else { %>
            <%- post.content %>
            </p>
        <% }%>
      </div>
    </article>
<% }); %>
<% if (page.total > 1) { %>
    <nav class="pagination">
        <%- paginator({prev_text: '&laquo;', next_text: '&raquo;'}) %>
    </nav>
<% } %>
