<% var year = post.date.year(); %>
<article id="<%= post.layout %>-<%= post.slug %>" class="post single-entry entry entry-type-<%= post.layout %>">
  <% if (post.link || post.title) { %>
      <header class="article-header">
          <%- partial('post/title', { class_name: 'article-title' }) %>
          <div class="entry-meta post-info">
            <%= post.author || config.author %> on <%- post.date.format('MMM Do YYYY') %>
            tagged in <%- partial('post/tag') %>
          </div>
      </header>
  <% } %>
  <div class="entry-content post-content">
    <%- post.content %>
  </div>
</article>
