<footer id="footer">
  <nav class="scroll-reveal">
    <ul class="list-inline list-unstyled">
      <li><a href="<%- url_for() %>">Home</a></li>
      <li><a href="<%- url_for('about') %>">About</a></li>
      <li><a href="<%- url_for('contact') %>">Contact</a></li>
    </ul>
  </nav>
  <ul class="social list-inline list-unstyled">
    <li><a href="https://twitter.com/bravokeyl" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://github.com/bravokeyl" target="_blank"><i class="fa fa-github"></i></a></li>
    <li><a href="https://profiles.wordpress.org/bravokeyl" target="_blank"><i class="fa fa-wordpress"></i></a></li>
    <li><a href="http://wordpress.stackexchange.com/users/43098/bravokeyl" target="_blank"><i class="fa fa-stack-exchange"></i></a></li>
  </ul>
  <p class="copyright scroll-reveal">&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>. All Rights Reserved.</p>
</footer>
