<!doctype html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <%
        var title = page.title;
        if(is_home()) {
          title = "Single Sided WordPress Lover";
        }
        if (is_archive()) {
            title = __('index.archive');
            if (is_month()) {
                title += ': ' + page.year + '/' + page.month;
            } else if (is_year()) {
                title += ': ' + page.year;
            }
        } else if (is_category()) {
            title = __('index.category') + ': ' + page.category;
        } else if (is_tag()) {
            title = __('index.tag') + ': ' + page.tag;
        }
    %>
    <%
      var description = config.description;
      if(page.description) {
        description = page.description;
      }
    %>
    <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="author" content="bravokeyl">
    <meta name="copyright" content="&copy; Copyright 2016 - bravokeyl" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="BravoKeyl | Single sided WordPress lover"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bravokeyl.com/"/>
    <meta property="og:image" content="https://bravokeyl.com/images/share.jpg"/>
    <meta property="og:site_name" content="BravoKeyl | Single sided WordPress lover"/>
    <meta property="og:description" content="BravoKeyl aka bad.ra, single sided WordPress lover and Product Engineer talking to embedded devices."/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bravokeyl">
    <meta name="twitter:creator" content="@bravokeyl">
    <meta name="twitter:title" content="BravoKeyl | Single sided WordPress lover">
    <meta name="twitter:description" content="BravoKeyl aka bad.ra, single sided WordPress lover and Product Engineer talking to embedded devices.">
    <meta name="twitter:image:src" content="https://bravokeyl.com/images/share.jpg">
    <meta itemprop="name" content="BravoKeyl - Single sided WordPress lover">
    <meta itemprop="description" content="BravoKeyl aka bad.ra, single sided WordPress lover and Product Engineer talking to embedded devices.">
    <meta itemprop="image" content="https://bravokeyl.com/images/share.jpg">
    <link rel="canonical" href="<%- url_for(page.path) %>" />
    <link href="favicon.ico" rel="shortcut icon" />
    <link href="apple-touch-icon.png" rel="apple-touch-icon" />
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
    <noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Tillana:400,500" rel="stylesheet">
    <style amp-custom>

    </style>
    <%- css('lib/bootstrap/css/bootstrap.min') %>
    <%- css('css/style') %>
  </head>
